.container {
    width: 60%
}

/* Main */
.main {
    background: linear-gradient(#386ec3, #aad3f4), url(../assets/banner.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-blend-mode: multiply;
    color: #fff
}

.change_content::after {
    content: '';
    font-size: 36px;
    font-weight: bold;
    animation: changeText 6s infinite linear;
    background: linear-gradient(135deg, #f7df1e 0%, #ff6b6b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes changeText {
    0% {
        content: 'Frontend Develpoer';
    }

    25% {
        content: 'Backend Developer';
    }

    50% {
        content: 'Creative Designer';
    }

    75% {
        content: 'ReactJs Developer';
    }

    100% {
        content: 'Angular Developer';
    }
}

/* Profile */
.profile {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;

    .attractive-heading {
        font-size: 32px;
        color: #fff;
        text-align: center;
        padding: 30px 0;
        background: linear-gradient(135deg, #ff6b6b 0%, #6078ea 100%);
        border-radius: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    }

    .attractive-heading:hover {
        background: linear-gradient(135deg, #6078ea 0%, #ff6b6b 100%);
        transform: scale(1.05);
    }

    .attractive-heading:active {
        transform: scale(0.98);
    }

    .profileImg {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    .about {
        line-height: 2.5;
    }
}

.header {
    text-transform: uppercase;
    font-family: Helvetica, Permanent Marker, Work Sans, sans-serif;
    /* color: #007bff; */
    color: #003366;
}

.quote {
    line-height: 2 !important;
    font-size: 1.2rem !important;
    font-style: italic;
}

/* Projects */
.projects {
    padding: 50px 0;

    .project-card {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .project-card:hover {
        transform: translateY(-5px);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    .project-link {
        color: inherit;
        text-decoration: none;
    }

    .project-image {
        position: relative;
        overflow: hidden;
        background-color: #f7f7f7;
    }

    .project-image-inner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .project-details {
        padding: 1rem;
        background-color: #fff;
    }

    .project-title {
        margin-bottom: 8px;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .project-description {
        margin-bottom: 12px;
        color: #444;
    }

    .project-language {
        color: #777;
    }
}


/* Contact */
.contact {
    padding: 50px 0;
    background-color: #f0f5f9;

    .text-center {
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .contact-link {
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.3s;
        background: linear-gradient(135deg, #ff6b6b 0%, #6078ea 100%);
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .contact-link i {
        margin-right: 10px;
        font-size: 1.5rem;
    }

    .contact-link:hover {
        background: linear-gradient(to right, #007bff, #49a9bf);
        transform: translateY(-5px);
    }
}

.education {
    padding: 50px 0;
    /* background-color: #cfc2c1; */
    background-color: #f0f5f9;

    .education-item {
        margin: 30px 0px 0px 0px;
    }

    .education-title {
        color: #2980b9;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .education-year {
        color: #95a5a6;
        font-size: 14px;
    }

    .education-course {
        color: #2980b9;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .education-about {
        color: #34495e;
        font-size: 16px;
    }
}

/* Media Query */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 15% 0;
    }

    .quote {
        font-size: 1rem !important;
    }

    .header {
        font-size: 2.75rem !important;
    }

    .profile {
        width: 100% !important;

        .imgBox {
            width: 60%;
            margin: auto;
        }

        .profileContent {
            margin-top: 15% !important;
        }
    }

    .contact {
        .contact-link {
            padding: 15px;
        }
    }
}